<div>
        <div class='Information1'>
            <app-networkgraph></app-networkgraph>
        </div>
        <div class='Handler1'>
            <app-people-information [typeList]="typelist" (refreshTypeListEvent)="getTypeList()"></app-people-information>
        </div>
        <div class='Handler2'>
            <app-people-information [typeList]="typelist" (refreshTypeListEvent)="getTypeList()"></app-people-information>
        </div> 
        <div class='Information2'>
            <app-networkgraph></app-networkgraph>
        </div>
</div>
