<mat-tab-group>
    <mat-tab label="People"> 
        <div class='Information'>
            <app-networkgraph></app-networkgraph>
        </div>
        <div class='Handler'>
            <app-people-information></app-people-information>
        </div> 
    </mat-tab>
    <mat-tab label="Multimedia"> 
        <div class='Information'>
            <app-file-upload></app-file-upload>
        </div>
        <div class='Handler'>
            <app-multimedia-handler></app-multimedia-handler>
        </div>  
    </mat-tab>
 
</mat-tab-group>
