.mat-tab-group {
    margin-bottom: 48px;
    vertical-align: top;
  }
.Information1 {
    float: left;
    width: 25%;
}
.Handler1 {
    float:left;
    width: 25%;
}
.Information2 {
    float: left;
    width: 25%;
}
.Handler2 {
    float:left;
    width: 25%;
}
