<div class="parent">
  <div>
        
    <div class='Handler1'>
        <app-people-information #card [graphID]="'Left'" [typeList]="typelist" (refreshTypeListEvent)="getTypeList()" (onChangeObject)="leftObject=$event;relationRefresh();"></app-people-information>
        
    </div>
    <div class='Handler2'>
        <app-people-information #card [graphID]="'Right'" [typeList]="typelist" (refreshTypeListEvent)="getTypeList()" (onChangeObject)="rightObject=$event;relationRefresh();"></app-people-information>
    </div>
  </div>

  <br style="clear:both"/>
  
  <app-relation-handler [refreshaObject]="leftObject" [refreshbObject]="rightObject" (onChange)="relationRefresh()"></app-relation-handler>

</div>


