<div>
    <div mat-dialog-content>
      <h3>Do you want to add or edit or following {{title}}?</h3>
      <mat-form-field>
        <mat-label>ID(Optional)</mat-label>
        <input matInput [(ngModel)]="id" type="number" min="0" (ngModelChange)="confirm=false" [disabled]="multimedia">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput [(ngModel)]="type" (ngModelChange)="confirm=false" [disabled]="typeEditDisabled==true" required>
      </mat-form-field>
      <mat-form-field *ngIf="multimedia">
        <mat-label>Path</mat-label>
        <input matInput [(ngModel)]="path" (ngModelChange)="confirm=false">
        <span matTextSuffix>/</span>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="name" (ngModelChange)="confirm=false" [disabled]="valueEditDisabled==true" required>
      </mat-form-field>
    </div>
    <div mat-dialog-actions >
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="OnApplyClick()" cdkFocusInitial [disabled]="inputCheck()">Apply</button>
      <button mat-button (click)="OnConfirmClick()" *ngIf="confirm" [disabled]="inputCheck()">Confirm</button>
    </div>
</div>