<mat-toolbar>
    <mat-icon *ngIf="canNavigateUp" class="pointer" (click)="navigateUp()">arrow_back</mat-icon>
    <span style="margin-left: 8px">{{path || 'Files'}}</span>
    <span class="spacer"></span>
 </mat-toolbar>
  
  <div class="container" fxFlex fxLayout="row" fxLayoutAlign="space-between stretch">
    <div class="content" fxFlex fxLayout="row">
      <mat-grid-list cols="4" rowHeight="150px" fxFlex>
        <mat-grid-tile *ngFor="let element of fileElements" class=file-or-folder>
         
          <div fxLayout="column" xLayoutAlign="space-between center" (click)="navigate(element)" (dblclick)="open(element)" (contextmenu)="deleteFile(element)">

            <mat-icon s color="primary" class="file-or-folder-icon pointer" *ngIf="element.isFolder">folder</mat-icon>
            <div *ngIf="!element.isFolder">
              <app-multimedia-preview [url]="'api/multimediaThumbnail/'+path+element.name" [type]="type"></app-multimedia-preview>
            </div>
          
            <div>{{element.name}}</div>
            
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
  
  
  
 
