<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{currentObject.data}}</mat-card-title>
      <mat-card-subtitle>
        <mat-form-field >
          <mat-select [formControl]="typeControlValue" (openedChange)="onMatSelectOpen($event)" (selectionChange)="typeControl($event)">
            <mat-option value="Person">Person</mat-option>
            <mat-optgroup label="Property">
              <div *ngFor="let type of typeList" >
                <mat-option *ngIf="!NotPropertyList.includes(type.type)" [value]="type.type">
                  {{type.type}}
                </mat-option>
              </div>
              <mat-option value="Add New">-- Add New --</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <button mat-button color="primary" (click)="refreshType()"><mat-icon>refresh</mat-icon></button>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class='Information1'>
        <app-networkgraph [graphID]="graphID" [refreshWithType]="currentObject" (nodeChanged)="currentObjectChange($event)"></app-networkgraph>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="accent" > <mat-icon>cloud_download</mat-icon> {{currentObject.data}}</button>
      <button mat-button color="accent"><mat-icon>assignment_returned</mat-icon> Related Information</button>
      <app-toolbox [type]="currentObject.type"></app-toolbox>
      <button mat-button color="accent" [disabled]="currentObject.id=='' || currentObject.id==null"><mat-icon>remove_circle_outline</mat-icon></button>
      
    </mat-card-actions>
  </mat-card>