


.example-card {
    width: 42vw;
    height:500px;
  }



.networkgraph{
  
    width: 41vw;
    height:350px;


}

.mat-select-panel {
  width:200px
}

.dense-2 {
  @include mat.all-component-densities(-2);
}