<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Einstein</mat-card-title>
      <mat-card-subtitle>Professor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Albert Einstein was a German-born theoretical physicist,[5] widely held to be one of the greatest and most influential scientists of all time.
      </p>
      <br/>
      <h3>
      People Relationship:
      </h3>
      <p>
        <mat-icon> edit</mat-icon> Albert Einstein is <b >the son of </b> <button mat-button color="accent">  Hermann Einstein </button> 
      </p>

      <p>
        <mat-icon> edit</mat-icon> <button mat-button color="primary"> Pauline Einstein </button> is <b >the mother of </b> Albert Einstein
      </p>

      <br/>
      <h3>
      Multimedia Relationship:
      </h3>
      <p>
        <mat-icon> edit</mat-icon> Albert Einstein is shown <b> in </b>  <b> picture </b>  <button mat-button color="accent">Einstein and his Family(C:/picture/1944/picture.png) </button> 
      </p>
      <br/>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><mat-icon>face</mat-icon>Subject</button>
      <button mat-button><mat-icon>extension</mat-icon>Object</button>
      
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button color="accent"> <mat-icon>cloud_download</mat-icon> Information</button>
      <button mat-button color="accent"><mat-icon>assignment_returned</mat-icon> Related Information</button>
    </mat-card-actions>
  </mat-card>