<div class="example-form">
    <table class="example-full-width" cellspacing="0">
        <tr>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="SubjectType" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="SubjectName" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="SubjectID" disabled="True">
                    
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="RelationType" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="RelationValue" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="RelationID" disabled="True">
                    
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="ObjectType" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="ObjectName" disabled="True">
                    
                </mat-form-field>
            </td>
            <td class="example-form-field">
                <mat-form-field >
                    <input matInput type="text" [(ngModel)]="ObjectID" disabled="True">
                    
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td class="example-form-field">
                <button  matSuffix mat-icon-button aria-label="Clear" (click)="SubjectType=''" height="100%">
                    <mat-icon>done</mat-icon>
                </button>
                    
                  
            </td>
            <td class="example-form-field">
                
            </td>
            
            <button matSuffix mat-icon-button aria-label="Clear" (click)="SubjectType=''" height="100%">
                <mat-icon>close</mat-icon>
            </button>
        </tr>
        
        
    </table>

</div>

