<mat-card class="example-card">
  <mat-card-content>
    
    <mat-form-field class="example-full-width">
      <mat-label>Relation</mat-label>
      <input matInput [(ngModel)]="relation" (ngModelChange)="confirm=false">
        <button *ngIf="!confirm" (click)="onApplyClick()" matSuffix mat-icon-button  [disabled]="inputCheck()" color="primary"> <mat-icon>cloud_upload</mat-icon> </button>
        <button *ngIf="confirm" (click)="OnConfirmClick()" matSuffix mat-icon-button  [disabled]="inputCheck()" color="accent"> <mat-icon>cloud_upload</mat-icon> </button>
    </mat-form-field>
    <div *ngFor="let item of addIn | keyvalue" >
      <div (click)="deleteAddin(item.key)" class="addin">
        <b>{{item.key}}</b> is <b>{{item.value}}</b>
      </div>
    </div>
  </mat-card-content>
</mat-card>


            
       

