<div>
    <div mat-dialog-content>
      <h3>Are you sure you want to <b color="red">Delete</b> the following {{type}}?</h3>
      <mat-form-field>
        <mat-label>ID(Optional)</mat-label>
        <input matInput [(ngModel)]="id" [disabled]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Type</mat-label>
        <input matInput [(ngModel)]="type" [disabled]="true">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput [(ngModel)]="name"  [disabled]="true">
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">Cancel</button>
      <button mat-button (click)="OnConfirmClick()" cdkFocusInitial>Confirm</button>
    </div>
</div>
